.tax-portfolio_categories {

	.portfolio-category-header {
		margin-bottom: 2.5rem;
		position: relative;

		@media all and (min-width: 1024px) {
			margin-bottom: 5rem;
		}
	}

	.portfolio-category-title {
		margin: 0 0 1.25rem;
	}

	.term-description,
	.not-found-text {
		text-align: center;
	}
}

.portfolio-items-grid {
	display: block;
	overflow: hidden;
	width: 100%;
	margin: 0;
	white-space: nowrap;

	&.columns-3 {
		.portfolio-box {
			@media only screen and (min-width: 1024px) {
				width: 33.333%;
				padding-bottom: 33.333%;
			}

			@media only screen and (min-width: 1200px) {
				width: 33.333%;
				padding-bottom: 33.333%;
			}
		}
	}

	&.columns-4 {
		.portfolio-box {
			@media only screen and (min-width: 1200px) {
				width: 25%;
				padding-bottom: 25%;
			}
		}
	}

	&.masonry-grid1 {
		.portfolio-box {
			&:first-child,
			&:nth-child(8n) {
				width: 100%;

				@media only screen and (min-width: 481px) {
					width: 100%;
					padding-bottom: 100%;
				}

				@media only screen and (min-width: 768px) {
					width: 66.666%;
					padding-bottom: 66.666%;
				}

				@media only screen and (min-width: 1024px) {
					width: 50%;
					padding-bottom: 50%;
				}

				@media only screen and (min-width: 1200px) {
					width: 40%;
					padding-bottom: 40%;
				}
			}

			&:nth-child(2),
			&:nth-child(7n) {
				width: 100%;

				@media only screen and (min-width: 481px) {
					width: 100%;
					padding-bottom: 50%;
				}

				@media only screen and (min-width: 768px) {
					width: 33.333%;
					padding-bottom: 33.333%;
				}

				@media only screen and (min-width: 1024px) {
					width: 50%;
					padding-bottom: 25%;
				}

				@media only screen and (min-width: 1200px) {
					width: 40%;
					padding-bottom: 20%;
				}
			}
		}
	}

	&.masonry-grid2 {
		.portfolio-box {
			&:nth-child(3),
			&:nth-child(19n) {
				width: 100%;

				@media only screen and (min-width: 481px) {
					width: 100%;
					padding-bottom: 100%;
				}

				@media only screen and (min-width: 768px) {
					width: 66.666%;
					padding-bottom: 66.666%;
				}

				@media only screen and (min-width: 1024px) {
					width: 50%;
					padding-bottom: 50%;
				}

				@media only screen and (min-width: 1200px) {
					width: 40%;
					padding-bottom: 40%;
				}
			}

			&:nth-child(8n),
			&:nth-child(13n) {
				width: 100%;

				@media only screen and (min-width: 481px) {
					width: 100%;
					padding-bottom: 50%;
				}

				@media only screen and (min-width: 768px) {
					width: 33.333%;
					padding-bottom: 33.333%;
				}

				@media only screen and (min-width: 1024px) {
					width: 50%;
					padding-bottom: 25%;
				}

				@media only screen and (min-width: 1200px) {
					width: 40%;
					padding-bottom: 20%;
				}
			}
		}
	}

	&.masonry-grid3 {
		.portfolio-box {
			&:nth-child(3),
			&:nth-child(8n),
			&:nth-child(11n),
			&:nth-child(14n) {
				width: 100%;

				@media only screen and (min-width: 481px) {
					width: 100%;
					padding-bottom: 50%;
				}

				@media only screen and (min-width: 768px) {
					width: 33.333%;
					padding-bottom: 33.333%;
				}

				@media only screen and (min-width: 1024px) {
					width: 50%;
					padding-bottom: 25%;
				}

				@media only screen and (min-width: 1200px) {
					width: 40%;
					padding-bottom: 20%;
				}
			}
		}
	}

	.portfolio-box {
	    clear: none;
		float: left;
		margin: 0;
		overflow: hidden;
		height: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		padding-bottom: 100%;
		position: relative;
		transition: all .3s ease;
		width: 100%;

		@media only screen and (min-width: 481px) {
			width: 50%;
			padding-bottom: 50%;
		}

		@media only screen and (min-width: 768px) {
			width: 33.333%;
			padding-bottom: 33.333%;
		}

		@media only screen and (min-width: 1024px) {
			width: 25%;
			padding-bottom: 25%;
		}

		@media only screen and (min-width: 1200px) {
			width: 20%;
			padding-bottom: 20%;
		}

		&.hidden {
			opacity: 0;
			visibility: hidden;
			width: 0;
			padding-bottom: 0;
		}

		.portfolio-box-link {
			cursor: pointer;
			display: block;
			overflow: hidden;
			margin: 0;
			width: 100%;
			height: 100%;
			position: absolute;
			text-align: center;
			z-index: 1;

			.portfolio-box-content {
				display: block;
				height: 100%;
				width: 100%;

				img {
					display: block;
					object-fit: cover;
					object-position: center;
					height: 100%;
					width: 100%;
					transition: all .3s ease;

					&:hover {
						opacity: 1;
					}
				}

				.portfolio-item-title {
					color: #ffffff;
					font-size: calc( 1.333 * var(--global--headings-font-size) );
					font-weight: bold;
					line-height: 1.2;
					margin: 0;
					position: absolute;
					bottom: 28px;
					left: 0;
					right: auto;
					padding: 2.5rem 2.5rem 5px;
					transform: none;
					text-align: left;
					transition: all .3s;
				}

				.portfolio-item-categories {
					color: #ffffff;
					opacity: 0;
					font-size: 13px;
					font-weight: 900;
					text-transform: uppercase;
					margin: 0;
					position: absolute;
					bottom: -30px;
					padding: 0 2.5rem 2.5rem;
					text-align: left;
					transition: all .45s;
				}

				&:hover {
					img {
						opacity: .25;
					}

					.portfolio-item-title {
						bottom: 60px;
					}

					.portfolio-item-categories {
						bottom: 0;
						opacity: 1;
						transition-delay: 0.05s;
					}
				}
			}
		}
	}
}

.portfolio-filters {
	margin-bottom: 2.5rem;
}
